{
  "pb": {
    "local_old": {
      "url": "http://127.0.0.1:8090",
      "user": "admin@pocketbase.com",
      "password": "PASS",
      "bin": "./pocketbase/pocketbase",
      "data": "./pocketbase-old/pb_data"
    },
    "local_new": {
      "url": "http://127.0.0.1:8091",
      "user": "admin@pocketbase.com",
      "password": "PASS",
      "bin": "./pocketbase/pocketbase",
      "data": "./pocketbase/pb_data"
    },
    "dev": {
      "url": "https://api.pocketbase.com",
      "user": "admin@pocketbase.com",
      "password": "PASS"
    },
    "file": {
      "type": "file",
      "schemas": true,
      "data": "./snapshot.json"
    }
  },
  "overwrite": false,
  "no_data": ["users"],
  "direction": ["local_old", "file"],
  "collections": ["tags", "locations", "prices"]
}
